<div class="component-container">
    <div class="cards-wrapper">
        <div class="card">
            <div class="buttons-wrapper">
                <button mat-stroked-button>Replay</button>
            </div>
        </div>
        <div class="card">
            <div class="chart-wrapper">
                <canvas id="exceptionsCountChart">{{exceptionsCountChart}}</canvas>
            </div>
        </div>
    </div>
    <div class="cards-wrapper">
        <div class="card">
            <div #sequenceDiagram></div>
        </div>
    </div>
</div>