<div class="component-container">
    <div class="cards-wrapper">
        <div class="card">
            <form class="filters" [formGroup]="endpointsFilters" (submit)="fetchEndpointsExecutionTime()">
                <div class="form">
                    <mat-form-field>
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="endpointsPicker">
                            <input matStartDate formControlName="dateStart" placeholder="Start date">
                            <input matEndDate formControlName="dateEnd" placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="endpointsPicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #endpointsPicker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Select controllers</mat-label>
                        <mat-select multiple>
                            @for (controller of controllerList; track controller) {
                            <mat-option [value]="controller">{{controller}}</mat-option> }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Select endpoints</mat-label>
                        <mat-select multiple>
                            @for (endpoint of endpointList; track endpoint) {
                            <mat-option [value]="endpoint">{{endpoint}}</mat-option> }
                        </mat-select>
                    </mat-form-field>
                </div>

                <button mat-stroked-button>Fetch</button>
            </form>
            <div class="chart-wrapper">
                <canvas id="endpointsExecutionTimeChart">{{endpointsExecutionTimeChart}}</canvas>
            </div>
        </div>
    </div>
    <div class="cards-wrapper">
        <div class="card">
            <form class="filters" [formGroup]="methodsFilters" (submit)="fetchMethodsExecutionTime()">
                <div class="form">
                    <mat-form-field>
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="methodPicker">
                            <input matStartDate formControlName="dateStart" placeholder="Start date">
                            <input matEndDate formControlName="dateEnd" placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="methodPicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #methodPicker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Select controllers</mat-label>
                        <mat-select multiple>
                            @for (controller of controllerList; track controller) {
                            <mat-option [value]="controller">{{controller}}</mat-option> }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Select endpoints</mat-label>
                        <mat-select multiple>
                            @for (endpoint of endpointList; track endpoint) {
                            <mat-option [value]="endpoint">{{endpoint}}</mat-option> }
                        </mat-select>
                    </mat-form-field>
                </div>

                <button mat-stroked-button>Fetch</button>
            </form>
            <div class="chart-wrapper">
                <canvas id="methodsExecutionTimeChart">{{methodsExecutionTimeChart}}</canvas>
            </div>
        </div>
    </div>
</div>