<div class="component-container">
    <div class="cards-wrapper">
        <div class="card">
            <canvas id="canvas">{{chart}}</canvas>
        </div>
        <div class="card">
            <canvas id="canvas">{{chart}}</canvas>
        </div>
        <div class="card">
            <canvas id="canvas">{{chart}}</canvas>
        </div>
        <div class="card">
            <canvas id="canvas">{{chart}}</canvas>
        </div>
    </div>
    <div class="cards-wrapper">
        <div class="card card-medium">
            <canvas id="canvas">{{chart}}</canvas>
        </div>
        <div class="card card-medium">
            <canvas id="canvas">{{chart}}</canvas>
        </div>
    </div>
    <div class="cards-wrapper">
        <div class="card card-large">
            <canvas id="canvas">{{chart}}</canvas>
        </div>
    </div>
</div>