<div class="component-container">
    <div class="cards-wrapper">
        <div class="card">
            <form class="filters" [formGroup]="filters" (submit)="fetchExceptionsCount()">
                <div class="form">
                    <mat-form-field>
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="dateStart" placeholder="Start date">
                            <input matEndDate formControlName="dateEnd" placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field (click)="getClassNames()">
                        <mat-label *ngIf="isClassNamesLoading; else classElseBlock">Loading classes..</mat-label>
                        <ng-template #classElseBlock> <mat-label>Select classes</mat-label></ng-template>
                        <mat-select #classSelect multiple formControlName="controllers">
                            <ng-container *ngFor="let controller of controllerList; ">
                                <mat-option *ngIf="!isClassNamesLoading" [value]="controller">
                                    {{ controller.split(",")[0].split(".").reverse()[0] }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field (click)="getMethodNames()">
                        <mat-label *ngIf="isMethodNamesLoading; else methodElseBlock">Loading methods..</mat-label>
                        <ng-template #methodElseBlock> <mat-label>Select methods</mat-label></ng-template>
                        <mat-select multiple formControlName="endpoints">
                            <ng-container *ngFor="let endpoint of endpointList; ">
                                <mat-option *ngIf="!isMethodNamesLoading" [value]="endpoint">{{ endpoint }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Entry point</mat-label>
                        <mat-select formControlName="isEntryPoint">
                            <mat-option *ngFor="let entryPoint of isRootChoices" [value]="entryPoint.value">
                                {{ entryPoint.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <button [disabled]="isFetching" mat-stroked-button>
                    <span class="btn-content">
                        Fetch
                        <mat-spinner diameter="19" *ngIf="isFetching">
                        </mat-spinner>
                    </span>
                </button>
            </form>

            <div class="chart-wrapper">
                <canvas id="exceptionsCountChart">{{exceptionsCountChart}}</canvas>
            </div>
        </div>
    </div>
    <div *ngIf="exceptions.length > 0" class="cards-wrapper">
        <div class="card">
            <h2 class="method-title">{{exceptionsDetailsMethod}} exceptions</h2>

            <div [routerLink]="['/log', exception.nodeId]" class="exceptions-wrapper"
                *ngFor="let exception of exceptions">
                <div class="exception">
                    <div class="exception-metadata">
                        <p>{{exception.exception.type}}</p>
                        <p>{{exception.occuredAt | dateFormat}}</p>
                        <p class="logId">{{exception.nodeId}}</p>
                    </div>
                    <p class="exception-data">
                        {{exception.exception.value.replaceAll("\\r\\n","\n")}}
                    </p>
                </div>
            </div>

            <mat-paginator [showFirstLastButtons]="true" (page)="handlePageEvent($event)" [hidePageSize]="true"
                [length]="exceptionsTotalEntries" [pageIndex]="pageIndex" [pageSize]="exceptions.length"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>