<div class="component-container">
    <div class="cards-wrapper">
        <div class="card">
            <form class="filters" [formGroup]="filters" (submit)="fetchExceptionsCount()">
                <div class="form">
                    <mat-form-field>
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="dateStart" placeholder="Start date">
                            <input matEndDate formControlName="dateEnd" placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Select controllers</mat-label>
                        <mat-select multiple>
                            @for (controller of controllerList; track controller) {
                            <mat-option [value]="controller">{{controller}}</mat-option> }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Select endpoints</mat-label>
                        <mat-select multiple>
                            @for (endpoint of endpointList; track endpoint) {
                            <mat-option [value]="endpoint">{{endpoint}}</mat-option> }
                        </mat-select>
                    </mat-form-field>
                </div>

                <button mat-stroked-button>Fetch</button>
            </form>
            <div class="chart-wrapper">
                <canvas id="exceptionsCountChart">{{exceptionsCountChart}}</canvas>
            </div>
        </div>
    </div>
    <div *ngIf="exceptionsDetailsMethod != null" class="cards-wrapper">
        <div class="card">
            <h2 class="method-title">{{exceptionsDetailsMethod}}</h2>

            <div class="exceptions-wrapper" *ngFor="let exception of exceptions">
                <div class="exception">
                    <div class="exception-metadata">
                        <p>{{exception.Method}}</p>
                        <p>{{exception.OccuredAt}}</p>
                        <p class="logId">{{exception.LogId}}</p>
                    </div>
                    <p>{{exception.StackTrace}}</p>
                </div>
            </div>

            <mat-paginator [showFirstLastButtons]="true" [hidePageSize]="true" [length]="100" [pageSize]="10"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>