<div class="component-container">
    <div class="cards-wrapper">
        <div class="card">
            <form class="filters" [formGroup]="filters" (submit)="fetch()">
                <div class="form">
                    <div class="form-item">
                        <div class="search-accordion" (mouseenter)="searchAccordionFocus = true"
                            (mouseleave)="searchAccordionFocus = false">
                            <div class="search-header">
                                <mat-form-field class="search-bar">
                                    <mat-label>Search</mat-label>
                                    <input formControlName="search" [disabled]="searchByIdActive" matInput
                                        (focus)="searchInputFocus = true" (blur)="searchInputFocus = false">
                                    <button [disabled]="emptySearch || searchByIdActive"
                                        *ngIf="(searchInputFocus || searchAccordionFocus) && !searchByIdActive"
                                        class="add-btn" mat-stroked-button>Add</button>
                                </mat-form-field>
                            </div>
                            <mat-radio-group [disabled]="emptySearch || searchByIdActive" class="search-body"
                                *ngIf="(searchInputFocus || searchAccordionFocus) && !searchByIdActive">
                                <div class="options-col">
                                    <label>Input</label>
                                    <mat-radio-button value="1">Include</mat-radio-button>
                                    <mat-radio-button value="2">Exclude</mat-radio-button>
                                </div>
                                <div class="options-col second-col">
                                    <label>Output</label>
                                    <mat-radio-button value="1">Include</mat-radio-button>
                                    <mat-radio-button value="2">Exclude</mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [disabled]="searchByIdActive" [rangePicker]="picker">
                                <input matStartDate formControlName="dateStart" placeholder="Start date">
                                <input matEndDate formControlName="dateEnd" placeholder="End date">
                            </mat-date-range-input>
                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Select controllers</mat-label>
                            <mat-select [disabled]="searchByIdActive" multiple>
                                @for (controller of controllerList; track controller) {
                                <mat-option [value]="controller">{{controller}}</mat-option> }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Select endpoints</mat-label>
                            <mat-select [disabled]="searchByIdActive" multiple>
                                @for (endpoint of endpointList; track endpoint) {
                                <mat-option [value]="endpoint">{{endpoint}}</mat-option> }
                            </mat-select>
                        </mat-form-field>

                        <mat-checkbox [disabled]="searchByIdActive" class="exception-checkbox">With
                            exception</mat-checkbox>
                    </div>
                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Order by</mat-label>
                            <mat-select [disabled]="searchByIdActive">
                                @for (property of orderOptions; track property) {
                                <mat-option [value]="property.value">{{property.viewValue}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Page size</mat-label>
                            <mat-select [disabled]="searchByIdActive">
                                @for (property of orderOptions; track property) {
                                <mat-option [value]="property.value">{{property.viewValue}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <mat-form-field class="search-id">
                        <mat-label>Search by Id</mat-label>
                        <input formControlName="searchId" matInput>
                    </mat-form-field>
                </div>
                <button mat-stroked-button>Fetch</button>
            </form>
        </div>
    </div>
</div>