<div class="component-container">
    <div class="cards-wrapper">
        <div class="card">
            <form class="filters" [formGroup]="filters" (submit)="fetch()">
                <div class="form">
                    <div class="form-item search-form-item">
                        <div class="search-accordion">
                            <div class="search-header">
                                <mat-form-field class="search-bar">
                                    <mat-label>Filter</mat-label>
                                    <input [formControl]="searchBar" matInput>
                                </mat-form-field>
                                <button (click)="addAdvancedFilter()" type="button"
                                    *ngIf="(!emptySearch) && !searchByIdActive" class="add-btn" mat-stroked-button>Add
                                    Filter</button>
                            </div>
                            <mat-radio-group [formControl]="radioButtonGroup" class="search-body"
                                *ngIf="(!emptySearch) && !searchByIdActive">
                                <div class="options-col">
                                    <label>Input</label>
                                    <mat-radio-button value="00">is</mat-radio-button>
                                    <mat-radio-button value="01">is not</mat-radio-button>
                                    <mat-radio-button value="02">contains</mat-radio-button>
                                    <mat-radio-button value="03">not contains</mat-radio-button>
                                    <mat-radio-button value="04">like</mat-radio-button>
                                    <mat-radio-button value="05">not like</mat-radio-button>
                                </div>
                                <div class="options-col">
                                    <label>Output</label>
                                    <mat-radio-button value="10">is</mat-radio-button>
                                    <mat-radio-button value="11">is not</mat-radio-button>
                                    <mat-radio-button value="12">contains</mat-radio-button>
                                    <mat-radio-button value="13">not contains</mat-radio-button>
                                    <mat-radio-button value="14">like</mat-radio-button>
                                    <mat-radio-button value="15">not like</mat-radio-button>
                                </div>
                                <div class="options-col second-col">
                                    <label>Information</label>
                                    <mat-radio-button value="20">is</mat-radio-button>
                                    <mat-radio-button value="21">is not</mat-radio-button>
                                    <mat-radio-button value="22">contains</mat-radio-button>
                                    <mat-radio-button value="23">not contains</mat-radio-button>
                                    <mat-radio-button value="24">like</mat-radio-button>
                                    <mat-radio-button value="25">not like</mat-radio-button>
                                </div>
                            </mat-radio-group>

                        </div>
                        <mat-chip-set>
                            <mat-chip-option [ngClass]="{'disabled-chip': searchByIdActive}"
                                [disabled]="searchByIdActive" *ngFor="let filter of advancedFilters"
                                (click)="removeAdvancedFilter(filter)">
                                <div class="search-filter-chip">
                                    {{getTarget(filter.target)}} {{getOperation(filter.operation)}}
                                    '{{getFilterValue(filter.value,filter.operation)}}'
                                    <mat-icon>close</mat-icon>
                                </div>
                            </mat-chip-option>
                        </mat-chip-set>
                    </div>
                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate formControlName="dateStart" placeholder="Start date">
                                <input matEndDate formControlName="dateEnd" placeholder="End date">
                            </mat-date-range-input>
                            <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>

                        <mat-form-field (click)="getClassNames()">
                            <mat-label *ngIf="isClassNamesLoading; else classElseBlock">Loading classes..</mat-label>
                            <ng-template #classElseBlock> <mat-label>Select classes</mat-label></ng-template>
                            <mat-select #classSelect multiple formControlName="controllers">
                                <ng-container *ngFor="let controller of controllerList; ">
                                    <mat-option *ngIf="!isClassNamesLoading" [value]="controller">
                                        {{ controller.split(",")[0].split(".").reverse()[0] }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field (click)="getMethodNames()">
                            <mat-label *ngIf="isMethodNamesLoading; else methodElseBlock">Loading methods..</mat-label>
                            <ng-template #methodElseBlock> <mat-label>Select methods</mat-label></ng-template>
                            <mat-select multiple formControlName="endpoints">
                                <ng-container *ngFor="let endpoint of endpointList; ">
                                    <mat-option *ngIf="!isMethodNamesLoading" [value]="endpoint">{{ endpoint
                                        }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Has exception</mat-label>
                            <mat-select formControlName="hasException">
                                <ng-container *ngFor="let exception of hasExceptionChoices;">
                                    <mat-option [value]="exception.value">{{exception.label}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Order by</mat-label>
                            <mat-select formControlName="orderBy">
                                <ng-container *ngFor="let option of orderByChoices; ">
                                    <mat-option [value]="option.value">{{option.label}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Page size</mat-label>
                            <input formControlName="pageSize" (keypress)="numberOnly($event)" matInput>
                        </mat-form-field>
                    </div>


                    <mat-form-field class="search-id">
                        <mat-label>Search by Id</mat-label>
                        <input formControlName="searchId" matInput>
                    </mat-form-field>
                </div>
                <button [disabled]="isFetching" mat-stroked-button>
                    <span class="btn-content">
                        Fetch
                        <mat-spinner diameter="19" *ngIf="isFetching">
                        </mat-spinner>
                    </span>
                </button>
            </form>
        </div>
    </div>
    <div *ngIf="logs.length > 0" class="cards-wrapper">
        <div class="card">
            <div class="buttons-wrapper">
                <button mat-stroked-button (click)="openDialog()">Save Search</button>
                <button (click)="exportData()" [disabled]="isExporting" mat-stroked-button>
                    <span class="btn-content">
                        Export Data
                        <mat-spinner diameter="19" *ngIf="isExporting">
                        </mat-spinner>
                    </span>
                </button>
            </div>

            <div [routerLink]="['/log', log.id]" class="logs-wrapper" *ngFor="let log of logs">
                <div class="log">
                    <div class="log-metadata">
                        <p>{{log.class}}</p>
                        <p>{{log.method}}</p>
                        <p class="logId">{{log.id}}</p>
                    </div>
                    <mat-chip-set>
                        <mat-chip-option disabled>
                            Called at: {{(log.entryTime | dateFormat)}}
                        </mat-chip-option>
                        <mat-chip-option disabled>
                            Ended at: {{(log.exitTime | dateFormat)}}
                        </mat-chip-option>
                        <mat-chip-option disabled>
                            Duration: {{(log.duration)}}
                        </mat-chip-option>
                        <mat-chip-option disabled>
                            Has exception: {{log.hasException}}
                        </mat-chip-option>
                    </mat-chip-set>
                </div>
            </div>

            <mat-paginator [showFirstLastButtons]="true" (page)="handlePageEvent($event)" [hidePageSize]="true"
                [length]="logsTotalEntries" [pageIndex]="pageIndex" [pageSize]="pageSize" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>

<ng-template #saveSearchDialog let-dialogRef>
    <h2 mat-dialog-title>Save search filters</h2>
    <mat-dialog-content class="mat-typography">
        <mat-form-field class="save-filter-input">
            <mat-label>Filter name</mat-label>
            <input [formControl]="searchFilterName" matInput cdkFocusInitial>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="buttons-wrapper save-filter-buttons">
            <button mat-stroked-button (click)="closeDialog(true)">Save</button>
            <button class="cancel-button" mat-stroked-button (click)="closeDialog(false)">Cancel</button>
        </div>
    </mat-dialog-actions>
</ng-template>