.search-accordion {
    width: 35rem;

    position: relative;
}

.search-bar {
    width: 100%;
    position: relative;

    input {
        padding-right: 6rem;
    }
}

.add-btn {
    position: absolute;
    top: 0rem;
    right: -3rem;
    padding: 0rem;
}

.search-body {
    width: 35rem;

    justify-content: space-around;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 4.2rem;
    gap: 2rem;
    display: flex;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid var(--main-border);
    position: absolute;
    background-color: var(--btn-primary);
}

.options-col {
    display: flex;
    flex-direction: column;

    label {
        align-self: center;
        font-weight: 600;
        font-size: 0.85rem;
        margin: 0.5rem 0;
    }
}

.second-col {
    margin-right: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-items: inherit;
    gap: 1rem;
}

.exception-checkbox {
    margin-bottom: 1.5rem;
}

.form-item {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 0.5rem 1rem;
}

.search-id {
    width: min-content;
}

.buttons-wrapper {
    margin-top: 0.5rem;
    margin-right: 3.5rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 2.5rem;
    justify-content: flex-end;
}

.logs-wrapper {
    letter-spacing: 0.2px;
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    background-color: var(--btn-primary);
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        opacity: 0.85;
    }
}

mat-dialog-content {
    display: flex;
    align-items: flex-end;
}

.save-filter-input {
    width: 100%;
}

.logId {
    flex-grow: 1;
    text-align: end;
    font-size: 0.9rem;
}

.log {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.log-metadata {
    font-weight: 600;
    display: flex;
    gap: 4rem;

    p {
        color: var(--second-font);
    }
}

.save-filter-buttons {
    margin-right: 1.5rem;
    gap: 0.5rem;

    .cancel-button {
        background-color: #2b375a;
        border: 0.1px solid var(--main-border);
    }
}