<div class="component-container">
    <div class="cards-wrapper">
        <div class="card">
            <form class="filters" [formGroup]="filters" (submit)="fetchRequestsCount()">
                <div class="form">
                    <mat-form-field>
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="dateStart" placeholder="Start date">
                            <input matEndDate formControlName="dateEnd" placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Select controllers</mat-label>
                        <mat-select multiple>
                            @for (controller of controllerList; track controller) {
                            <mat-option [value]="controller">{{controller}}</mat-option> }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Select methods</mat-label>
                        <mat-select multiple>
                            @for (endpoint of endpointList; track endpoint) {
                            <mat-option [value]="endpoint">{{endpoint}}</mat-option> }
                        </mat-select>
                    </mat-form-field>
                </div>

                <button mat-stroked-button>Fetch</button>
            </form>
            <div class="chart-wrapper">
                <canvas id="requestsCountChart">{{requestsCountChart}}</canvas>
            </div>
        </div>
    </div>
</div>