.app-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 2rem;
}

.logo {
    cursor: pointer;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    transition-duration: 300ms, 300ms;
    transition-timing-function: ease, ease;

    &:hover {
        gap: 0.5rem;
        transform: scale(1.1);
    }

    div {
        transition-duration: 300ms, 300ms;
        transition-timing-function: ease, ease;

        &:hover {
            gap: 0.4rem;
        }

        display: flex;
        gap: 0.3rem;
    }

    div>* {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        letter-spacing: 1.5px;
        font-size: 1.6rem;
        color: var(--second-font);
    }
}

.logo-first {
    padding-bottom: 0.4rem;
    align-self: flex-start;
}

.logo-second {
    padding-top: 0.4rem;
    align-self: flex-end;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}