.app-container {
    max-height: 100%;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 2rem;
}

.logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    transition-duration: 300ms, 300ms;
    transition-timing-function: ease, ease;

    &:hover {
        gap: 0.5rem;

        .logo-first {
            padding-right: 1.5rem;
        }
    }

    div>* {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        letter-spacing: 1.5px;
        font-size: 1.6rem;
        color: var(--second-font);
    }
}

.logo-title {
    display: flex;
    flex-direction: column;
}

.logo-first {
    transition-duration: 300ms, 300ms;
    transition-timing-function: ease, ease;
    padding-right: 2rem;
    align-self: flex-start;
}

.logo-second {
    align-self: flex-end;
}

.navbar {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}