<div class="app-container">
    <div class="logo" routerLink="/">
        <img src="\assets\logo-black.png" width="45">
        <div class="logo-title">
            <p class="logo-first">Execution</p>
            <p class="logo-second">Lens</p>
        </div>
    </div>
    <div class="navbar">
        <div routerLink="/search" routerLinkActive="active-item" class="select-item">
            <mat-icon class="icon" fontIcon="search"></mat-icon>
            <p>Search</p>
        </div>
        <div routerLink="/saved-searches" routerLinkActive="active-item" class="select-item">
            <mat-icon class="icon" fontIcon="save"></mat-icon>
            <p>Saved Searches</p>
        </div>
        <div routerLink="/time" routerLinkActive="active-item" class="select-item">
            <mat-icon class="icon" fontIcon="timer"></mat-icon>
            <p>Execution Time</p>
        </div>
        <div routerLink="/requests" routerLinkActive="active-item" class="select-item">
            <mat-icon class="icon" fontIcon="format_list_numbered"></mat-icon>
            <p>Requests</p>
        </div>
        <div routerLink="/exceptions" routerLinkActive="active-item" class="select-item">
            <mat-icon class="icon" fontIcon="priority_high"></mat-icon>
            <p>Exceptions</p>
        </div>
    </div>
</div>