<div class="component-container">
    <div class="cards-wrapper">
        <div class="card">
            <div class="searches-wrapper" *ngFor="let search of searches">
                <div (click)="loadSearch(search.search)" class="search">
                    <div class="search-metadata">
                        <p>{{search.name}}</p>
                        <p>{{(search.savedAt | dateFormat).split('.')[0]}}</p>
                    </div>
                    <mat-chip-set>
                        <mat-chip-option
                            *ngIf="search.search.controllers != null && search.search.controllers.length > 0" disabled>
                            Controllers: {{search.search.controllers.toString().replace(',',', ')}}
                        </mat-chip-option>
                        <mat-chip-option *ngIf="search.search.endpoints != null && search.search.endpoints.length > 0"
                            disabled>
                            Methods: {{search.search.endpoints.toString().replace(',',', ')}}
                        </mat-chip-option>
                        <mat-chip-option *ngIf="search.search.dateStart != null" disabled>
                            Date start: {{(search.search.dateStart | dateFormat).split(' ')[0]}}
                        </mat-chip-option>
                        <mat-chip-option *ngIf="search.search.dateEnd != null" disabled>
                            Date end: {{(search.search.dateEnd | dateFormat).split(' ')[0]}}
                        </mat-chip-option>
                        <mat-chip-option *ngIf="search.search.hasException != null" disabled>
                            Has exception: {{search.search.hasException }}
                        </mat-chip-option>

                        <div *ngIf="search.search.filters != null && search.search.filters.length > 0">
                            <mat-chip-option *ngFor="let filter of search.search.filters" disabled>
                                {{filter.target}} {{filter.operation}} '{{filter.value}}'
                            </mat-chip-option>
                        </div>

                        <mat-chip-option *ngIf="search.search.orderBy != null" disabled>
                            Order by: {{search.search.orderBy }}
                        </mat-chip-option>
                        <mat-chip-option *ngIf="search.search.pageSize != null" disabled>
                            Page size: {{search.search.pageSize }}
                        </mat-chip-option>

                        <mat-chip-option *ngIf="search.search.id != null" disabled>
                            Id: {{search.search.id }}
                        </mat-chip-option>
                    </mat-chip-set>
                </div>
                <button (click)="deleteSearch(search.id!)" class="del-btn" mat-mini-fab
                    color="warn"><mat-icon>delete</mat-icon></button>
            </div>
        </div>
    </div>
</div>