.app-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 2rem;
    align-items: center;
}

.logo {
    margin-top: 1.5rem;
    color: var(--trird-font);
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    p {
        cursor: pointer;
        font-weight: 600;
        font-size: 0.98rem;
        padding: 0.82rem 1rem;
        border-radius: 0.4rem;
        border: 1px solid transparent;
    }

    p:hover {
        border: 1px solid var(--main-border);
        color: var(--second-font);
        background-color: var(--button-main);
        box-shadow: var(--button-main) 1px 1px 5px;
    }
}