<div class="component-container">
    <div class="logo" routerLink="/">
        <img src="\assets\logo.png" width="100">
        <div class="logo-title">
            <p class="logo-first">Execution</p>
            <p class="logo-second">Lens</p>
        </div>
    </div>

    <div class="links-wrapper">
        <h3>Documentation</h3>
        <div class="link">
            <p>Logger - </p>
            <a target="_blank"
                href="https://github.com/Andrei1128/ExecutionLens.Logging">https://github.com/Andrei1128/ExecutionLens.Logging</a>
        </div>
        <div class="link">
            <p>Debugger - </p>
            <a target="_blank"
                href="https://github.com/Andrei1128/ExecutionLens.Debugging">https://github.com/Andrei1128/ExecutionLens.Debugging</a>
        </div>
        <div class="link">
            <p>WEB - </p>
            <a target="_blank"
                href="https://github.com/Andrei1128/ExecutionLens.WEB">https://github.com/Andrei1128/ExecutionLens.WEB</a>
        </div>
        <div class="link">
            <p>API - </p>
            <a target="_blank"
                href="https://github.com/Andrei1128/ExecutionLens.API">https://github.com/Andrei1128/ExecutionLens.API</a>
        </div>
    </div>
</div>